*{margin: 0; padding: 0;
box-sizing:border-box;
}
.header{ width: 100%;
background-image: linear-gradient(to right,#de6262,#ffb88c);
}

.box{
    background-image: url(../images/Home_page.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height:100vh;

}